aiogram==2.13
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
click-default-group==1.2.2
colorama==0.4.4
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.5.0
multidict==5.1.0
pytz==2021.1
requests==2.25.1
requests-async==0.6.2
rfc3986==1.5.0
sqlite-fts4==1.0.1
sqlite-utils==3.8
tabulate==0.8.9
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
zipp==3.4.1
