aiogram==2.9.2
aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-default-group==1.2.2
gevent==20.6.2
greenlet==0.4.16
grequests==0.6.0
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.10
multidict==4.7.6
pycparser==2.20
pyTelegramBotAPI==3.7.2
pytz==2020.1
requests==2.24.0
requests-async==0.6.2
rfc3986==1.4.0
six==1.15.0
sqlite-utils==2.11
tabulate==0.8.7
urllib3==1.25.9
yarl==1.4.2
zope.event==4.4
zope.interface==5.1.0
